on:
  push:
    branches:
      - "main"

name: Create Release

jobs:
  build:
    name: Create Release
    if: "startsWith(github.event.head_commit.message, 'v')"    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get commit-messages
        id: get_messages
        run: |
          rm /tmp/messages.txt; git log --pretty=format:"%s" $(git describe --tags --abbrev=0 @^)..@ >> /tmp/messages.txt; cat /tmp/messages.txt >> $description
          echo "::set-output name=description::$description"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.event.head_commit.message }}
          release_name: ${{ github.event.head_commit.message }}
          body: |
            ${{ steps.get_messages.outputs.description }}
          draft: false
          prerelease: false
